{% extends 'main/base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    <ul>
        {% for cart_item in cart_items %}
            <li>
                {{ cart_item.item.name }} - {{ cart_item.quantity }} шт. -
                {{ cart_item.item.price|floatformat:"2" }} ₽ за шт.
                <form method="post" action="{% url 'remove_from_cart' cart_item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <!-- Общая стоимость всех товаров в корзине -->
    {% if cart_items %}
        <p>Общая стоимость: {{ total_cost }}₽</p>
        <form method="post" action="{% url 'order' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Оформить заказ</button>
        </form>
    {% endif %}
{% endblock %}
