{% extends 'main/base.html' %}

{% block title %}
    Обработка заказа
{% endblock %}

{% block content %}
    <h1>Заказы пользователей:</h1>
    <div>
    {% for order in order_detail_items %}
        <h3>Заказ пользователя: {{ order.user }}</h3>
        <p>Статус заказа: {{ order.status }}</p>
        <p>Сообщение пользователя: {{ order.user_message }}</p>
        <p>Товары в заказе:</p>
        <ul>
            {% for item in order.orderitem_set.all %}
                <li>{{ item.product.name }}</li>
            {% endfor %}
        </ul>
        <hr>
    {% empty %}
        <p>Пока заказов нет</p>
    {% endfor %}
    </div>
{% endblock %}
